* {
  font-family: 'Lato', sans-serif;
}

body {
  width: 180px;
  height: 360px;
  display: flex;
}

#opinion {
  flex-direction: column;
  height: 50px;
  margin: 8px;
  background-color: darkgray;
}

#stars {
}